.dog-container {
    display: flex;
    flex-direction: row;
}

.dog-header img {
    width: 350px;
}

.dog-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.dog-list li {
    list-style: none;
}
.dog-single img {
    width: 150px;
}